<!DOCTYPE html>
<html>
  <head>
    <title>Flight Info</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flight Information</h1>
    <a href="/flights/new">New Flight</a>
    <br>
    <br>
    <a href="/flights">All Flights</a>
  </body>
</html>
