body {
    background-color: rgb(6, 6, 42);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: whitesmoke
}

table {
   color: whitesmoke;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
  }
  
  li {
    list-style: none;
  }
  
  
  .buttons {
    text-decoration: none;
    color: whitesmoke;
  }