<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Flight</title>
    <link rel='stylesheet' href='/stylesheets/stylenew.css' />
</head>


<body>
    <ul class="menu">
        <li><a class="buttons" href="/flights/new">New Flight</a></li>
        <li><a class="buttons" href="/flights">All Flights</a></li>
      </ul>
    <h2>New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
        <option value="American">American</option>
        <option value="Delta">Delta</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select>
  </label><br>
  <br>
  <label>Airport:
    <select name="airport">
        <option value="ATL">ATL</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
  </label><br>
  <br>
  <label>Flight Number:
    <input type="text" name="flightNo">
  </label><br>
  <br>
  <label>Departs:
    <input type="datetime-local" name="departs" value="yyyy-MM-ddThh:mm"
       min="2022-08-04T00:00" max="2023-03-04T00:00">
  </label><br>
  <br>
  <input type="submit" value="Add Flight">
</form>
<br>


</body>
</html>